.form-input {
  display: flex;
  position: relative;
  flex-direction: column;
}

.form-input span {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  left: 7px;
  font-size: 1.2rem;
}

.form-input.has-label span {
  top: 10px;
}